extends layout

block content
    div.block.features
        h2.title-divider
            span Nuestros Servicios

        div.row
            div.feature.col-sm-6.col-md-3
                a(href="/cotizar.html")
                    img.img-responsive(src="/img/features/feature-1.png", alt="Proveedores de Teja Asfáltica en Costa Rica")
                h3.title
                    a(href="/cotizar.html") Proveedor de Teja Asfáltica
                p
                    | Somos importadores directos y proveedores de teja asfáltica de calidad para Costa Rica,
                    | tanto clásica como 3D, además de accessorios relacionados.
            div.feature.col-sm-6.col-md-3
                a(href="/cotizar.html")
                    img.img-responsive(src="img/features/feature-4.png", alt="Instaladores de Teja Asfáltica en Costa Rica")
                h3.title
                    a(href="cotizar.html") Instalación de Teja Asfáltica
                p
                    | Contamos con personal altamente calificado en la instalación de techados asfálticos.
            div.feature.col-sm-6.col-md-3
                a(href="/cotizar.html")
                    img.img-responsive(src="img/features/feature-2.png", alt="Cotización de Servicios")
                h3.title
                    a(href="cotizar.html") Asesoría Profesional
                p
                    | Con más de 20 años de experiencia realizando instalaciones de teja asfáltica de forma exitosa,
                    | contamos con una pericia invaluable que ponemos a su disposición.
            div.feature.col-sm-6.col-md-3
                a(href="/cotizar.html")
                    img.img-responsive(src="img/features/feature-5.jpg", alt="Promoción del Mes")
                h3.title
                    a(href="cotizar.html") Mejores Precios del Mercado
                p
                    | Escríbanos con los detallas de su construcción y oportunamente le estaremos brindando el mejor servicio.

    div.block
        h2#product.title-divider
            span Estilos de Teja Asfáltica

        div.row
            div.feature.col-md-12
                div.col-xs-6.col-md-3
                    a.thumbnail(href="tejas/Barkwood.html", title="Teja Asfáltica Estilo Barkwood")
                        img(src="img/shingles/barkwood-small.png", alt="Teja Asfáltica Estilo Barkwood")
                        span Teja Estilo Barkwood
                div.col-xs-6.col-md-3
                    a.thumbnail(href="tejas/Charcoal.html", title="Teja Asfáltica Estilo Charcoal")
                        img(src="img/shingles/charcoal-small.png", alt="Teja Asfáltica Estilo  Charcoal")
                        span Teja Estilo Charcoal

                div.col-xs-6.col-md-3
                    a.thumbnail(href="tejas/Whethered.html", title="Teja Asfáltica Estilo Whethered")
                        img(src="img/shingles/whethered-small.png", alt="Teja Asfáltica Estilo Whethered")
                        span Teja Estilo Whethered

                div.col-xs-6.col-md-3
                    a.thumbnail(href="tejas/Slate.html", title="Teja Asfáltica Estilo Slate")
                        img(src="img/shingles/slate-small.png", alt="Teja Asfáltica Estilo Slate")
                        span Teja Estilo Slate

                div.col-xs-6.col-md-3
                    a.thumbnail(href="tejas/Hickory.html", title="Teja Asfáltica Estilo Hickory")
                        img(src="img/shingles/hickory-small.png", alt="Teja Asfáltica Estilo Hickory")
                        span Teja Estilo Hickory
