doctype html
html(lang="es", ng-app="dalorzo")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msvalidate.01", content="ABD9647B4ED2080EC2FFCD585B33BA44")
        meta( name="description", content="Venta e Instalación de Teja Asfáltica en Costa Rica")
        meta(name="keywords", content="costa rica, tejas, instalación, teja asfáltica, reparación, importación, techos, dalorzo")
        meta(name="author" content="Dalorzo")

        title Instalaciones Dalorzo

        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href="/plugins/prism/prism.css", media="screen")
        link(rel="stylesheet", href="/plugins/animate/animate.css")
        link(rel="stylesheet", href="/plugins/alertify/themes/alertify.core.css")
        link(rel="stylesheet", href="/plugins/alertify/themes/alertify.bootstrap.css")
        link(rel="stylesheet", href="/css/theme-style.min.css")
        link(rel="stylesheet", href="/css/dalorzo.css")
        link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti', type='text/css')

        <!--[if lt IE 9]>
        <script src="plugins/html5shiv/dist/html5shiv.js"></script>
        <script src="plugins/respond/respond.min.js"></script>
        <![endif]-->
    body.page.page-index
        a.sr-only(href="#content") Skip to content

        //- PAGE UPPER BANNER AND SLOGAN
        div#navigation.wrapper
            div.navbar-static-top
                div.header
                    div.header-inner.container
                        div.row
                            div.col-md-8
                                a.navbar-brand(href="/", title="Inicio")
                                    h1
                                        span Dalorzo
                                        | &nbsp;Instalaciones
                                div.slogan
                                    | Venta e instalación de teja asfáltica en Costa Rica
                //-PAGE MENU
                div.container(data-toggle="clingify")
                    div.navbar
                        a.navbar-btn(data-toggle="jpanel-menu", data-target=".navbar-collapse")
                            span.bar
                            span.bar

                        //- everything within this div is collapsed on mobile
                        div.navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li.home-link
                                    a(href="/")
                                        i.fa.fa-home
                                        span.hidden Inicio

                                li: a.menu-item(href="/cotizar.html") Cotización
                                li: a.menu-item(href="/galeria.html") Galería de Fotos
        div#content
            div.container
                block content

            footer#footer
                div.container
                    div.row
                        div.col-md-3.col
                            div.block.contact-block
                                h3 Contáctenos
                                address
                                    ul.fa-ul
                                        li
                                            abbr(title="Teléfono")
                                                i.fa.fa-li.fa-phone
                                            | (506) 8869-6691
                                        li
                                            abbr(title="Email")
                                                i.fa.fa-li.fa-envelope
                                            a(href="mailto:ventas@dalorzo.com") ventas@dalorzo.com
                                        li
                                            abbr(title="Address")
                                                i.fa.fa-li.fa-home
                                            | Heredia, Costa Rica.
                        div.col-md-8.col
                            h3 Sobre Nosotros
                            p
                                | Somos una empresa profesional, expertos en venta e instalación de techados asfálticos
                                | con personal entrenado y altamente calificado y con más de 20 años de experiencia
                                | realizando instalaciones existosas en todo Costa Rica.

        script(src="/plugins/retina/js/retina-1.1.0.min.js")
        script(src="/js/jquery.min.js")
        script(src="/js/jquery-migrate-1.2.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/plugins/prism/prism.js")
        script(src="/plugins/jPanelMenu/jquery.jpanelmenu.min.js")
        script(src="/plugins/jRespond/js/jRespond.js")
        script(src="/plugins/alertify/alertify.min.js")
        script(src="/js/script.min.js")
        script(src="/js/dalorzo.js")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-8259995-7', 'auto');
            ga('send', 'pageview');
        block scripts

