doctype transitional
html(lang="es")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(charset="utf-8")
    body
        h1
            a(href="http://www.instalacionesdalorzo.com/")
                span Dalorzo
                |  Instalaciones
        hr
        table(cellpadding="5px")
            tr
                td
                    | ¡Hola #{name}!
            tr
                td
                    | Muchas gracias por contactarnos. Hemos recibido su solicitud de información y prontamente le estaremos contactando por medio de su correo electrónico o
                    | directamente a su número telefónico.
            tr
                td
                    | Si lo que desea es obtener una cotización de precios sería buena idea que tenga a mano los planos de su proyecto de construcción
                    | o un detalle del área en metros cuadrados. Estos datos son siempre necesarios para poder asesorarle de mejor manera y proveerle información
                    | más adecuada. Asimismo si desea que visitemos su construcción con gusto podemos hacerle una vista sin costo alguno.
            tr
                td
                    | Asimismo siéntase en la libertad de contactarnos vía correo electrónico o directamente a nuestros teléfonos cuando tenga gusto.
            tr
                td
                    | Sin más por el momento, quedamos a sus estimables órdenes.
            tr
                td
                    table
                        tr
                            td
                                table
                                    tr
                                        td
                                            img(src="http://www.instalacionesdalorzo.com/img/avatars/felipe01.png", style="border:solid 3px; width:75px; height:75px")
                                        td
                                            table
                                                tr
                                                    td
                                                        strong
                                                            | Felipe Dalorzo
                                                tr
                                                    td
                                                        | 8869-6691
                                                tr
                                                    td
                                                        a(href="mailto:felipe@dalorzo.com") felipe@dalorzo.com
